body {
    background-color: #231f20;
    font-family: Tahoma;
}
.napis {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 30px;
    color: #ccc;
}
.item {
    text-align: center;
    margin-bottom: 40px;
}
.item img {
    padding-right: 20px;
    vertical-align: middle;
    height: 70px;
        -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.item a {
    font-family: Tahoma;
    text-decoration: none;
    font-size: 20px;
    padding: 25px;
    color: #eee;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;

}
.item a:hover{
    color: #000;
}
.item a img:hover{
        -webkit-filter:brightness(0);
            filter:brightness(0);
}
.logo {
    position: fixed;
    left: 0px;
    bottom: 0px;

}
.logo img {
    width: 30%;
    opacity: 0.5;
    /*transition: all 0.5s ease;*/
    /*vertical-align: bottom;*/
}
.logo img:hover{
    opacity: 1;
}
#ideasfactory {
    position: fixed;
    font-size: 16px;
    right: 2vh;
    bottom: 2vh;
    z-index: 2;
    font-family: "Trebuchet MS";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-shadow: 0 0 5px black, 0 0 10px black;
    color: #e38e55;
    /*z-index: 5;*/

text-decoration: none;
}
#ideasfactory:before {
    content: "Fabryka stron internetowych ";
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 15px black;*/

opacity: 0;
    top: -30px;
    color: #FFEC5F;
    -webkit-transition: all .5s;
    transition: all 0.5s;
}
#ideasfactory:hover:before {
    opacity: 1;
    top: 0px;
}
#ideasfactory:hover {
    color: #FFEC5F;
    opacity: 1;
}