body {
    background-color: #231f20;
    font-family: Tahoma;
}
.napis {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 00px;
    font-size: 30px;
    color: #ccc;
}
.napis span {
    margin-top: 5px;
    color: #aaa;
    display: block;
    font-size: 16px;
}
input, select{
        font-size: 14px;
    /*margin-bottom: 15px;*/
    /*margin-top: 5px;*/
    background-color: #333;
    color:#ccc;
}
.button{
    margin-top:10px;
    width: 200px;
    height: 30px;
    background-color: #333;
    color:#ccc;
    margin-bottom: 30px;
}
a{
    margin-top: 15px;
    color: #aaa;
    display: block;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s ease;
}
table{
    margin-left: auto;
    margin-right: auto;
}
label{
    color: #eee;
    font-size: 14px;
}
label b{
    color: #aaa;
}
.lista{
    text-align: center;
    margin-bottom: 30px;
}
a:hover{
    color:#000;
}
.form {
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.form input {
    /*width: 200px;*/
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: #333;
    color:#ccc;
}
.imie{
    width: 400px;
    /*margin-top:-50px;*/
}
.form input:last-child{
    margin-top:30px;
    width: 200px;
    height: 30px;
    background-color: #333;
    color:#ccc;
}
.logo {
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.logo img {
    width: 30%;
    opacity: 0.5;
    transition: all 0.5s ease;
    /*vertical-align: bottom;*/
}
.logo img:hover {
    opacity: 1;
}
#ideasfactory {
    position: fixed;
    font-size: 16px;
    right: 2vh;
    bottom: 2vh;
    z-index: 2;
    font-family: "Trebuchet MS";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-shadow: 0 0 5px black, 0 0 10px black;
    color: #e38e55;
    /*z-index: 5;*/

text-decoration: none;
}
#ideasfactory:before {
    content: "Fabryka stron internetowych ";
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /*text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 15px black;*/

opacity: 0;
    top: -30px;
    color: #FFEC5F;
    -webkit-transition: all .5s;
    transition: all 0.5s;
}
#ideasfactory:hover:before {
    opacity: 1;
    top: 0px;
}
#ideasfactory:hover {
    color: #FFEC5F;
    opacity: 1;
}